.page {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background-color: #FCF5E5;
  min-height: 100vh;
}

.body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}