


.profile {
  display: flex;
  max-width: 1280px;
  margin: 34px auto 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #21212166;
  font-family: Poppins, Arial, Helvetica, sans-serif;

}


.profile__avatar {
  margin-right: 20px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.profile__name {
  margin: 0 0 12px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

.profile__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 16px;
  font-weight: 500;
  opacity: 70%;
  line-height: 1;
}

.profile__edit-button {
  margin-top: auto;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 120px;
  height: auto;
  color: #212121;
  gap: 8px;
  justify-content: space-between;
  opacity: 80%;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
}

.profile__edit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__add-button {
  color: white;
  margin-left: auto;
  margin-top: auto;
  width: 149px;
  height: 52px;
  background-color: #212121;
  border-radius: 8px;
  border: none;
}

.profile__add-button:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 8px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__description {
    margin: 0 0 32px;
  }
  .profile__add-button {
    align-items: center;
    margin: 0;
    width: 288px;
  }

}
